---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
import Elegirnos from '../sections/Elegirnos.astro'
import Opinion from '../sections/Opinion.astro';
import Footer from '../components/Footer.astro';
import Bento from '../sections/Bento.astro';
---

<Layout title="Transportando-Ideas.">
	<main>
	 <Hero />
	<Bento />
	<Elegirnos />
	<Opinion />
	<Footer />
	</main>
</Layout>

