---
interface Props {
	title: string;
	id?: string;
    className?:string;
	
}

const { title, id, className } = Astro.props;
---

<button id={id} class="">{title}</button>
<style>
    button {
        display: flex;
        align-items: center;
        background-color: blue;
        color: #fff;

        border-radius: 5px;

        transition: all 0.6s ease;
    }

    button:hover {
        background-color: black;
        cursor: pointer;
    }

    
    

    
</style>
