---
import LinkContact from "./LinkContact.astro";
---

<footer class="index-footer">
    <div class="as-pages">
        <ul class="list-pages">
            <li>Inicio</li>
            <li>Ir a cotizar</li>
            <li>Evento principal</li>
            <li>Servicios</li>
            <li>Opiniones</li>
        </ul>
    </div>

    <ul class="list-redes-sociales">
        <li>
            <LinkContact type="whatsapp" istooltype={true} />
            <li><LinkContact type="email" istooltype={true} /></li>
            <li><LinkContact type="phone" istooltype={true} /></li>
            <li><LinkContact type="facebook" istooltype={true} /></li>
        </li>
    </ul>

    <span>© 2024 Transportando Ideas, Inc.</span>
</footer>

<style>
    .index-footer {
        margin-top: 5rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        gap: 2rem;
        padding: 3rem;

        
    }

    .index-footer .list-pages {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .index-footer .list-pages li {
        cursor: pointer;
    }
    .index-footer .list-redes-sociales svg {
        width: 40px;
        height: 40px;
    }

    @media (min-width: 880px) {
        .index-footer {
            padding: 0.5rem;
            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        }
        .index-footer .list-pages {
            display: flex;
            justify-content: center;
            gap: 4rem;
        }
        .index-footer .list-redes-sociales svg {
            width: 50px;
            height: 50px;
        }
    }

    .index-footer .list-pages li {
        position: relative;
    }
    .index-footer .list-pages li:hover::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -3px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: blue;
        animation: animationLinkFooter 300ms ease-in-out both;
    }
    .index-footer .list-pages span {
        font-size: 1.1rem;
        font-weight: 700;
    }
    

    .index-footer .list-redes-sociales {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    @keyframes animationLinkFooter {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }
</style>
