---
import Truck from './icons/Truck.astro';
interface Props {
  id:string;
	title: string;
	
}

const { id,title } = Astro.props;
---
<style>
  .button-animation {
    /* display: flex; */
    /* justify-content: start; */
    position: relative;
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: center;
    color: white;
    width: 250px;
    height: 50px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); /* ya que con skew se distorciona el texto */
    font-size: 20px;
    overflow: hidden;

  }
  .button-animation::before{
    content: "";
    position: absolute;
    width: 150px;
    min-height:calc(100% + 30px) ;
    inset: 0;
    transform: skew(70deg);
    z-index: -1;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0.3);;
    animation: barBefore 5s linear infinite ;
   
  }

  .messagge {
    position: absolute;
    width: fit-content;
    height: fit-content;
    inset: 0;
    margin: auto;
    z-index: 2;
  }

  .button-animation svg {
 position: absolute;
    width: calc(76%);
    height: calc(85%);
    opacity: 0;
  }

  .div-fill-mode {
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    margin-top: -1px;
    background-color: black;

  }

  .button-animation:hover svg {
    animation: moveTruck 2s linear infinite;
  }

  .button-animation:hover .div-fill-mode {
    animation: fillMode 1.7s 0.3ms both;
  }
/* barra que pasa por todo el boton */
  @keyframes barBefore {
    from {
      left: -100%;
    }

    to {
      left: 200%;
    }
  }



  @keyframes fillMode {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes moveTruck {
    0% {
      opacity: 1;
      transform: translateX(-30%);
    }

    100% {
      opacity: 0;
      transform: translateX(300%);
    }

  }

</style>

<button id={id}  class=" button-animation">
  <Truck className='w-8' />
  <span class="messagge">
    {title ? title : "button-title"}
  </span>
  
  <div class="div-fill-mode"></div>

</button>