---
interface Props {
	title: string;
    name:string;
	
	
}

const {  title ,name } = Astro.props;

---
<div class="cl-toggle-switch">
    <label class="cl-switch">
      <input type="checkbox" name={name}>
      <span>{title}</span>
    </label>
  </div>
<style>
   div{
    box-shadow: inset -12px -8px 40px rgba(70, 70, 70, 0.125);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
   }
   div label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
   }
   div input{
    width: 30px;
    height: 30px;
   }

    
</style>
