---
import OpinionMobile from "../components/section/opinion/OpinionMobile";
import OpinionFromPc from "../components/section/opinion/OpinionFromPc";
---

<section id="section-opinion" class="flex flex-col gap-4 md:gap-6">
    
    <h2 class="text-xl sm:text-3xl w-fit font-semibold mx-auto">
        Opiniones de nuestros clientes
    </h2>
    <p class="w-fit text-sm md:text-lg h-fit text-center mx-auto">
        Gracias a estas continuamos mejorando la calidad de nuestros servicios
    </p>

    <div class="md:hidden">
        <OpinionMobile  />
    </div>
    <div class="hidden md:flex">
        <OpinionFromPc />
    </div>
</section>

<style is:global>
    section {
        position: relative;
        overflow: hidden;
    }
    
    
</style>

