---
import Header from "../components/Header.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <WhatsappButton />
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
    }

    body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    body section {
        margin-bottom: 5rem !important;
    }
    @media (min-width: 840px) {
        body {
            padding: 0 3rem;
        }
    }
    body section {
        margin-top: 5rem !important;
    }

    
</style>
