---
import Header from '../components/Header.astro';
import WhatsappButton from "../components/WhatsappButton.astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<WhatsappButton />
		<slot />
	</body>
</html>
<style is:global>
	:root {
        /* color-scheme: ; */
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		
	}

	
body {
    
    
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    
    /* margin-bottom: 20rem; */
}
@media (min-width:840px) {
    body{
        padding: 0 5rem;
    }
}
body section {
    margin-bottom: 5rem;
}

a[aria-current="page"] {
    position: relative;
    color: blue;
    /* Cambia esto al estilo deseado */
    font-weight: bold;
    
}

a[aria-current="page"]::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -110%;
    /* Ajusta según tus necesidades */
    width: 30px;
        height: 25px;
    background-color: blue;
    /* clip-path para la forma de la línea */
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    
}

/* STYLOS DE CURRENT PAGE PARA MOBILE */
@media (max-width:768px) {
    a[aria-current="page"]::before {
        content: '';
        position: absolute;
        right: -100px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        
        
        
        rotate: 90deg;
        
        /* Ajusta según tus necesidades */
        width: 25px;
        height: 25px;
        background-color: blue;
        /* clip-path para la forma de la línea */
        clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
    
}



	
</style>
